@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/img/Animated-Hearts.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
  }
  
  #root {
    position: relative;
    z-index: 1;
  }
  